/* здесь используйте глобальные переменные */
$base-color: #7859CF;
$hover-color: #9070EC;
$active-color: #593CAC;
$font-color: #333333;
$desktop-width: 1440px;
$tablet-width: 768px;
$primary-font: "Montserrat", "Arial" serif;
