/* здесь используйте глобальные переменные */
$base-color: #7859cf;
$hover-color: #9070ec;
$active-color: #593cac;
$font-color: #333333;
$desktop-width: 1440px;
$tablet-width: 768px;
$primary-font: "Montserrat", "Arial" serif;
