.academy {
  width: 320px;
  margin: 0 auto;
  padding: 20px 48px 30px;
}

.academy__link {
  color: #bdbdbd;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  display: flex;
  column-gap: 4px;
}

.academy__link::after {
  content: "";
  display: block;
  mask-image: url("../..//icons/academy_icon.svg");
  mask-size: 12px 16px;
  width: 12px;
  height: 16px;
  background-color: #bdbdbd;
}

.academy__link:hover {
  color: $base-color;
}

.academy__link:active {
  color: $active-color;
}

.academy__link:hover::after {
  background-color: $base-color;
}

.academy__link:active::after {
  background-color: $active-color;
}

@media (min-width: 1440px) {
  .academy {
    padding: 0;
  }
}
