/*Catalog__filter*/
.catalog {
  background-color: #f8f8f8;
}

.catalog__filter-wrapper{
  width: 320px;
  margin: 0 auto;
  padding: 50px 20px 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.catalog__filter-form {
  display: grid;
  row-gap: 30px;
  width: 100%;
}

.catalog__filter-group {
  list-style-type: none;
  border: none;
  padding: 0;
  text-align: start;
}

.catalog__filter-price-slider {
  margin: 0 auto 30px;
  width: 253px;
}

.catalog__filter-price-wrapper {
  justify-content: space-between;
  display: flex;
  position: relative;
}

.catalog__filter-price-input {
  width: 118px;
  height: 40px;
  border-radius: 4px;
  border: 2px solid $hover-color;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  outline: none;
}

.catalog__filter-price-input:focus {
  border-color: $active-color;
}

.catalog__filter-price-input:disabled {
  border-color: #e2e2e2;
  color: #e2e2e2;
}

.catalog__filter-price-input::placeholder {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #bdbdbd;
  text-align: center;
}

.catalog__filter-price-input-max {
  order: 2;
}

.catalog__filter-price-wrapper::before {
  content: "";
  display: block;
  width: 8px;
  height: 2px;
  background-color: #666;
  order: 1;
  align-self: center;
}

.catalog__filter-item {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.catalog__filter-list {
  list-style-type: none;
}

.catalog__filter-control {
  display: flex;
}

.catalog__filter-group-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 20px;
}

.catalog__filter-mark {
  content: "";
  display: block;
  position: relative;
}

.catalog__filter-mark-milk {
  border: 2px solid #bdbdbd;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.catalog__filter-label {
  font-size: 16px;
  line-height: 24px;
  margin-left: 10px;
}

.catalog__filter-input[type="radio"]:checked + .catalog__filter-mark {
  border-color: $base-color;
}

.catalog__filter-mark::after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  border-radius: 50%;
  margin: 2px;
  transition: ease 0.4s;
  height: 16px;
}

.catalog__filter-input[type="radio"]:checked + .catalog__filter-mark::after {
  background-color: $base-color;
}

.catalog__filter-input[type="radio"]:hover + .catalog__filter-mark::after{
  background-color: rgba(120, 89, 207, 0.25);
}

.catalog__filter-input[type="radio"]:hover + .catalog__filter-mark{
  border-color: $hover-color;
}

.catalog__filter-input[type="radio"]:disabled + .catalog__filter-mark::after{
  background-color: #e2e2e2;
}

.catalog__filter-input[type="radio"]:disabled + .catalog__filter-mark{
  border-color: #e2e2e2;
}

.catalog__filter-mark-country {
  width: 42px;
  height: 24px;
  background-color: #bdbdbd;
  border-radius: 12px;
}

.catalog__filter-mark-country::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  transition: ease 0.4s;
}

.catalog__filter-input[type="checkbox"]:disabled + .catalog__filter-mark-country::after {
  background-color: #f8f8f8;
}

.catalog__filter-input[type="checkbox"]:disabled + .catalog__filter-mark-country {
  background-color: #e2e2e2;
}

.catalog__filter-input[type="checkbox"]:disabled:checked + .catalog__filter-mark-country::after {
  background-color: #bdbdbd;
}

.catalog__filter-input[type="checkbox"]:disabled:checked + .catalog__filter-mark-country {
  background-color: #e2e2e2;
}

.catalog__filter-input[type="checkbox"]:checked + .catalog__filter-mark-country::after {
  background-color: #ffffff;
  transform: translate(18px);
  transition: ease 0.4s;
}


.catalog__filter-input[type="checkbox"]:checked + .catalog__filter-mark-country{
  background-color: $hover-color;
}

.catalog__filter-input[type="checkbox"]:hover + .catalog__filter-mark{
  background-color: $base-color;
}

.catalog__filter-input[type="checkbox"]:hover + .catalog__filter-mark::after {
  top: -2px;
  left: -2px;
}

.catalog__filter-input[type="checkbox"]:hover + .catalog__filter-mark {
  border: 2px solid $hover-color;
  background-color: rgba(119.67, 88.92, 207.19, 0.25);
}

.catalog__filter-input:disabled + .catalog__filter-mark{
  border-color: #e2e2e2;
}

.catalog__filter-input:disabled + .catalog__filter-mark + .catalog__filter-label{
  color: #e2e2e2;
}

.catalog__filter-submit-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

div .catalog__filter-button-reset {
  color: $base-color;
  background-color: #ffffff;
}

div .catalog__filter-button-submit, .catalog__filter-button-reset {
  width: 100%;
  min-height: 40px;
}

/*Catalog*/

.catalog__container {
  width: 320px;
  margin: 0 auto;
  padding: 22px 20px 44px;
}

.catalog__sorting-wrapper {
  margin-bottom: 20px;
}

.catalog__sorting-label {
  display: flex;
  position: relative;
}

.catalog__sorting-text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  align-self: center;
  margin-right: 8px;
}

.catalog__sorting-control {
  width: 165px;
  height: 32px;
  border: none;
  font-size: 16px;
  line-height: 24px;
  color: $base-color;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  padding: 4px 30px 4px 10px;
  background-color: #f8f8f8;
}

.catalog__sorting-option-arrow::after {
  background-image: url("../../icons/arrow-select-icon.svg");
  content: "";
  display: block;
  width: 10px;
  height: 6px;
  position: absolute;
  background-size: 10px 6px;
  transform: translateY(-50%);
  top: 50%;
  right: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  width: 10px;
  height: 6px;
  pointer-events: none;
}

.catalog__product-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-bottom: 40px;
}

.catalog__pagination {
  display: flex;
  column-gap: 20px;
}
.catalog__pagination-button {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  color: $base-color;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.catalog__pagination-button--currently {
  background-color: #f8f8f8;
  font-weight: 600;
  color: #333333;
}

.catalog__pagination-button-arrow::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: $base-color;
}

.catalog__pagination-button-arrow-left::before {
  mask-image: url("../../icons/arrow-select-icon.svg");
  background-color: $base-color;
  transform: rotate(90deg);
}

.catalog__pagination-button-arrow:hover::before {
  background-color: #fff;
}

.catalog__pagination-button-arrow-right::before {
  mask-image: url("../../icons/arrow-select-icon.svg");
  transform: rotate(270deg);
}

.catalog__pagination-button-text {
  display: none;
}


@media (min-width: 768px) {
  .catalog__filter-wrapper {
    width: 768px;
    padding-top: 80px;
  }

  .catalog__filter-title {
    font-size: 42px;
    line-height: 64px;
  }

  .catalog__filter-form {
    grid-template-columns: 220px 234px 210px;
    gap: 40px 30px;
  }

  .catalog__filter-price-slider {
    width: 100%;
  }

  .catalog__filter-price-input {
    width: 88px;
  }

  .catalog__filter-submit-wrapper {
    grid-column: 1/4;
    justify-self: center;
    flex-direction: row;
    column-gap: 20px;
  }

  .catalog__filter-button {
    padding: 0 20px;
  }

  .catalog__container {
    width: 768px;
    padding-bottom: 90px;
  }

  .catalog__product-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }

  .catalog__pagination {
    justify-content: end;
  }

  .catalog__pagination-button-arrow-left {
    width: 91px;
  }

  .catalog__pagination-button-arrow-right {
    width: 104px;
  }

  .catalog__pagination-button-arrow::before {
    background: none;
  }

  .catalog__pagination-button-text{
    display: block;
  }
}
