.main-footer__container {
  width: 320px;
  margin: 0 auto;
}

.main-footer__social-wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 22px 20px;
  display: flex;
  justify-content: space-between;
}

.main-footer__logo-link picture {
  display: flex;
  align-items: center;
}

.main-footer__navigation {
  width: 320px;
  margin: 0 auto;
}

.main-footer__navigation-wrapper {
  padding: 20px;
}

.main-footer__navigation-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.main-footer__navigation-item {
  list-style-type: none;
}

.main-footer__navigation-title {
  margin: 0;
  color: $base-color;
  margin-bottom: 20px;
}

.main-footer__navigation-link {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
  color: $font-color;
  text-transform: uppercase;
}

.main-footer__contacts {
  padding: 20px;
}

@media (min-width: 768px) {
  .main-footer__container {
    width: 768px;
  }

  .main-footer__social-wrapper {
    width: 768px;
  }

  .main-footer__widgets-wrapper {
    display: flex;
    flex-direction: row;
  }

  .main-footer__navigation {
    display: flex;
    flex-direction: row;
    margin: 0;
    width: auto;
    column-gap: 100px;
  }
}

@media (min-width: 1440px) {
  .main-footer__container {
    width: 1440px;
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
  }

  .main-footer__social-wrapper {
    flex-direction: column;
    margin: 0;
    width: 318px;
    padding: 0;
    align-self: flex-start;
  }

  .main-footer__navigation {
    column-gap: 30px;
    margin-right: 30px;
  }

  .main-footer__navigation-wrapper {
    width: 303px;
  }

  .main-footer__contacts {
    width: 346px;
  }

  .main-footer__logo-image {
    margin-bottom: 10px;
  }

  .main-footer__logo-text {
    margin: 0;
    margin-bottom: 40px;
  }
}
