.navigation-list__item {
  list-style-type: none;
  text-align: center;
  background-color: #ffffff;
  border-top: 1px solid #f0ebff;
  min-height: 57px;
  align-content: center;
}

.navigation-list__item:last-child {
  border-bottom: 1px solid #f0ebff;
}
.navigation-list__link {
  text-decoration: none;
  color: $font-color;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
}

@media (min-width:768px) {
  .navigation-list__item {
    border: none;
    min-height: 80px;
  }

  .navigation-list__item:last-child {
    border: none;
  }

  .navigation-list__link {
    padding: 32px 20px;
  }
}
