.page__body {
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  font-family: "Montserrat Regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  display: flex;
}
