.slider-novetly {
  position: relative;
}

.slider-novetly__wrapper {
  padding: 20px 20px 60px;
  background-color: #f3ebe1;
  text-align: center;
  margin: 0 auto;
}

.slider-novetly__list {
  margin: 0;
  padding: 0;
}

.slider-novetly__item {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.slider-novetly__item-espresso, .slider-novetly__item-lavander {
  display: none;
}

.slider-novetly_image {
  margin-bottom: 10px;
}

.slider-novetly__description-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-novetly__label {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  color: $base-color;
  margin-bottom: 4px;
  text-transform: uppercase;
}

.slider-novetly__title {
  margin: 0;
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 10px;
}

.slider-novetly__break::after {
  content: "\A";
  white-space: pre;
}

.slider-novetly__text {
  margin: 0;
  margin-bottom: 20px;
  max-width: 320px;
}

.slider-novetly__buy{
  display: flex;
}

.slider-novetly__old-price {
  font-size: 16px;
  line-height: 32px;
  color: $base-color;
  text-decoration: line-through;
  margin-right: 6px;
}

.slider-novetly__new-price {
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  margin-right: 25px;
}

.slider-novetly__button {
  width: 113px;

}

.slider-novetly__arrows-button--right {
  right: 0;
  left: unset;
}

.slider-novetly__arrows-button {
  padding: 0;
  bottom: 0;
  width: 20px;
  margin: 0;
  background-size: 100%;
  background-position: 100%;
  z-index: 1;
  border: 0;
  background-color: transparent;
}

.slider-novetly__arrows-button::after {
  content: "";
  mask-image: url("../../icons/slider-arrow.svg");
  display: block;
  width: 100%;
  height: 20px;
  mask-size: 20px 20px;
  mask-position: center;
  background-color: $base-color;
  top: 0;
  mask-repeat: no-repeat;
}

.slider-novetly__arrows-button, slider-novetly__arrows-button:after {
  position: absolute;
  height: 100%;
  top: 0;
}
.slider-novetly__arrows-button--right {
  transform: rotate(180deg);
}

.slider-novetly__arrows-button--left {
  left: 0;
}

.slider-novetly__pagination {
  display: none;
}


@media (min-width: 768px) {
  .slider-novetly__wrapper {
    padding: 60px 80px 0;
    background: linear-gradient(#f3ebe1 640px, #ffffff 128px);
  }

  .slider-novetly__item picture {
    order: 1;
  }

  .slider-novetly__title {
    font-size: 56px;
    line-height: 80px;
    margin-bottom: 16px;
  }

  .slider-novetly__text {
    font-size: 20px;
    line-height: 32px;
    max-width: none;
    width: 649px;
  }

  .slider-novetly__buy {
    margin-bottom: 20px;
  }

  .slider-novetly__arrows-button {
    height: 77.5%;
    width: 80px;
  }
}

@media (min-width: 1440px) {
  .slider-novetly__wrapper {
    padding: 30px 80px 60px 105px;
    background: #f3ebe1;
  }

  .slider-novetly__item {
    flex-direction: row;
  }

  .slider-novetly__item picture{
    order: 0;
  }

  .slider-novetly__description-wrapper {
    margin-top: 150px;
    align-items: start;
    text-align: start;
  }

  .slider-novetly__arrows-button {
    height: 100%;
  }

  .slider-novetly__pagination {
    display: block;
  }

  .slider-novetly__pagination-list {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    column-gap: 8px;
  }

  .slider-novetly__pagination-item {
    list-style-type: none;
  }

  .slider-novetly__pagination-button {
    width: 64px;
    height: 4px;
    border: none;
  }

  .slider-novetly__pagination-button--active {
    background-color: $base-color;
  }
}
