.user-list__item {
  list-style-type: none;
  margin: 0;
  width: 60px;
  align-items: center;
  text-align: center;
}

.user-list__icon {
  display: block;
  padding: 22px 22px 18px;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.user-list__icon-entry svg {
  fill: $font-color;
}

.user-list__icon-union svg {
  fill: $font-color;
}

.user-list__link:active .user-list__icon-entry svg {
  fill: $base-color;
}

.user-list__link:active .user-list__icon-union svg {
  fill: $base-color;
}

.user-list__text {
  display: none;
}

.user-list__link:active .user-list__text {
  color: $base-color;
}

.user-list__item:active {
  background-color: #f0ebff;
}

@media (min-width: 1440px) {
  .user-list__item {
    padding: 0;
    width: auto;
  }

  .user-list__link {
    text-decoration: none;
    color: $font-color;
    padding: 30px 18px;
    display: flex;
    column-gap: 8px;
    align-items: center;
  }

  .user-list__icon {
    padding: 0;
    width: 16px;
    height: 16px;
  }

  .user-list__text {
    display: block;
  }
}
